*.csv
*.png
*.jpg


*.Rproj.user
*.Rhistory
*.RData*
*.Ruserdata
*.RDataTmp*
.RData*
.Rproj.user
*.RDS
*.svg
*.dta


# Not loading .xlsx from inter-output folder
inter-output/*.xlsx
inter-output/*.csv
