*.csv
*.png
*.jpg
*.json


*.Rproj.user
*.Rhistory
.Renviron
*.RData*
*.Ruserdata
*.RDataTmp*
.RData*
.Rproj.user
*.RDS
*.svg
*.dta
*.xlsx

# shapefiles
*.prj
*.shx
*.shp
*.dbf

data/raw/shapefiles
data/raw/India-State-and-Country-Shapefile-Updated-Jan-2020-master


# Not loading .xlsx from inter-output folder
inter-output/*.xlsx
inter-output/*.csv

air.toml
